html {width: 100vw; height: 100vh}
body {width: 100vw; height: 100vh}
div#hello {
  border:black solid 2px;
  min-width: 21vw;
  min-height: 40vh;
  width: 25%;height: 40%;
  color:blue;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  }
p#world {
  color: green;
  text-align:end;
  font-weight: bolder;
  font-size: x-large;
  }
  p#note {
    text-align: start;
    font-size: small;
    font-weight: bold;    
  }
  .emphasis {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
  }